body { 
  color: #555555;
  font-size: 10pt;
  line-height: 11pt; 
  font-family: serif;
}

p {  
  color: #555555;
  font-size: 10pt;
  line-height: 11pt; 
  font-family: serif;
}

h3 { 
  padding: 5px;
  font-size: 12pt;
  background-color: #aaaaaa;  
  color: #111111;  
}

h4 { 
  padding: 5px;
  background-color: #dddddd;  
  color: #333333;  
}

a {
  color: #555555;
}

